body {
    background-color: #f3f5e9;
    font: 1rem "Fira Sans",sans-serif;
    /* color: #91a189; */
}

#wrapper {
    text-align: center;
}
h1 {
    display: flex;
    justify-content: center;
}
p.types-info {
    margin-bottom: 2px;
}
div.types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p.types {
    width: 130px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}
hr {
    height: 0.1rem;
    background-color: black;
    margin-top: 24px;
    margin-bottom: 24px ;
}
p.alert {
    /* display: block;
    height: 18.67px; */
    font-style: italic;
}
div.main-word {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 132px;
    font: 1.5rem "Fira Sans",sans-serif;
}
input.main-word {
    text-align: center;
    margin-bottom: 16px;
    width: 1.5rem;
    background-color: #f3f5e9;
    border-radius: 5px;
    visibility: hidden;
    font: 1.5rem "Fira Sans",sans-serif;
}
div.word-counter {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    font: 1.5rem "Fira Sans",sans-serif;
}
div.previous-word {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    /* height: 103.995px; */
    font: 1.5rem "Fira Sans",sans-serif;
}